@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* Colors */

  --very-dark-cyan: hsl( 179, 100%, 13% );
  --bright-orange: hsl( 31, 77%, 52% );
  --dark-cyan: hsl( 184, 100%, 22% );

  --very-light-gray-background-headings-buttons: hsl( 0, 0%, 95% );
  --transparent-white-paragraph: hsla( 0, 0%, 100%, 0.75 );

  --ff-BigShouldersDisplay: 'Big Shoulders Display', sans-serif;
  --ff-LexendDeca: 'Lexend Deca', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 1200px;
  background-color: var(--very-light-gray-background-headings-buttons);
}